In [1]:
import numpy as np
import pandas as pd

In [2]:
def load_df():
    return pd.read_csv('merged_data.csv')

In [3]:
def remove_E_from_col(df):
    df['Scale'] = df['Scale'].astype(str)
    df['Scale'] = df['Scale'].apply(lambda x: x.replace('E', '').replace('FU', '-1').replace('F', '').replace('nan', '-1'))
    df['Scale'] = df['Scale'].astype(int)
    return df

# def handle_missing_scale(df):
#     df['Scale'] = np.where((df['Scale'] == 'FU'), 'nan', df['Scale'])
#     return df

def format_date(df):
    df['Date'] = df['Date'].apply(lambda x: x.replace('-', '/'))
    day = df['Date'].str.split('/').str[0]
    month = df['Date'].str.split('/').str[1]
    year = df['Date'].str.split('/').str[2]
    df['Date'] = year + '/' + month + '/' + day
    return df

def sort_reset_index(df):
    df.sort_values(by=['Date', 'Time'], inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df


def capitalize_col_vals(df,col):
    df[col] = df[col].astype(str)
    df[col] = df[col].apply(lambda x: x.title())
    return df

In [4]:
def clean_data(df):
    df = remove_E_from_col(df)
    # df = handle_missing_scale(df)
    df = format_date(df)
    df.drop_duplicates(subset=['Date', 'Time', 'Country'], inplace=True)
    df = sort_reset_index(df)
    # df = df.dropna(subset = ['Date', 'Time', 'Latitude', 'Longtitude'])
    for col in ['District', 'City', 'Country']:
        df = capitalize_col_vals(df, col)
    return df

In [5]:
df = load_df()
df = clean_data(df)
# df.to_csv('cleaned_data.csv', index=False)
df

,District,City,Country,Longtitude,Latitude,Date,Time,Scale,Length (KM),Width (M),Deaths
0,San Diego,Nan,California,-117.10,32.75,1990/01/14,03:30,0,0.16,9.14,0.0
1,Los Angeles,Nan,California,-118.05,33.95,1990/01/16,23:20,0,0.32,30.18,0.0
2,Dallas,Nan,Texas,-96.63,32.92,1990/01/19,11:30,2,1.29,45.72,0.0
3,Trinity,Nan,Texas,-94.95,31.22,1990/01/19,15:40,3,8.05,91.44,0.0
4,Angelina,Nan,Texas,-94.90,31.27,1990/01/19,15:48,3,12.87,91.44,0.0
...,...,...,...,...,...,...,...,...,...,...,...
46619,Pýrgos,Γρανιτσαίικα Ileía,Greece,21.31,37.69,2021/12/27,12:39,0,NaN,NaN,NaN
46620,Gümbet,Muğla Province,Turkey,27.41,37.00,2021/12/28,07:45,-1,3.00,NaN,NaN
46621,Igoumenítsa,Thesprotia,Greece,20.27,39.50,2021/12/29,14:50,-1,5.00,NaN,NaN
46622,Loutrákion,Korinthos,Greece,22.97,37.98,2021/12/30,06:00,-1,3.00,NaN,NaN
46623,Chaniá,Chaníon,Greece,24.02,35.51,2021/12/30,06:40,-1,1.00,NaN,NaN

In [6]:
df.dropna(subset = ['Date', 'Scale', 'Latitude', 'Longtitude'], inplace=True)
df

,District,City,Country,Longtitude,Latitude,Date,Time,Scale,Length (KM),Width (M),Deaths
0,San Diego,Nan,California,-117.10,32.75,1990/01/14,03:30,0,0.16,9.14,0.0
1,Los Angeles,Nan,California,-118.05,33.95,1990/01/16,23:20,0,0.32,30.18,0.0
2,Dallas,Nan,Texas,-96.63,32.92,1990/01/19,11:30,2,1.29,45.72,0.0
3,Trinity,Nan,Texas,-94.95,31.22,1990/01/19,15:40,3,8.05,91.44,0.0
4,Angelina,Nan,Texas,-94.90,31.27,1990/01/19,15:48,3,12.87,91.44,0.0
...,...,...,...,...,...,...,...,...,...,...,...
46619,Pýrgos,Γρανιτσαίικα Ileía,Greece,21.31,37.69,2021/12/27,12:39,0,NaN,NaN,NaN
46620,Gümbet,Muğla Province,Turkey,27.41,37.00,2021/12/28,07:45,-1,3.00,NaN,NaN
46621,Igoumenítsa,Thesprotia,Greece,20.27,39.50,2021/12/29,14:50,-1,5.00,NaN,NaN
46622,Loutrákion,Korinthos,Greece,22.97,37.98,2021/12/30,06:00,-1,3.00,NaN,NaN
46623,Chaniá,Chaníon,Greece,24.02,35.51,2021/12/30,06:40,-1,1.00,NaN,NaN